<!-- Page Header-->
<div class="bg-dash-dark-2 py-4">
    <div class="container-fluid">
        <h2 class="h5 mb-0">Dashboard</h2>
    </div>
</div>
<!-- Breadcrumb-->
<div class="container-fluid py-2">

</div>
<section class="tables py-0">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-12">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="h4 mb-0">Items</h3>
                        <p class="mb-4">All Items from the ox_inventory/data/items.lua</p>
                    </div>
                    <div class="card-body pt-0">
                        <div class="col-lg" style="position: absolute; top: 8px; right: 16px;">
                            <a href="/additem" class="btn btn-primary">Create Item</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0 table-striped table-hover" id="dataTable" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Key</th>
                                        <th>Label</th>
                                        <th>Weight</th>
                                        <th>Stackable</th>
                                        <th>Close</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Key</th>
                                        <th>Label</th>
                                        <th>Weight</th>
                                        <th>Stackable</th>
                                        <th>Close</th>
                                        <th>Delete</th>
                                    </tr>
                                </tfoot>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>